.custom-button {
    margin: 4px 10px;
}
.child-button {
    margin: 2px 0;
}
.back-button {
    position: relative;
    bottom: 10px;
}
.inline-block {
    display: inline-block !important;
}
.authors > div {
    width: 50%;
    margin: 0;
}
.authors > div:first-child {
    float: left;
}
.authors > div:last-child {
    float: right;
}
.authors {
    margin-bottom: 40px;
}
.breakline {
    border-top-color: black;
    width: 90%;
}